/*-------------------------------------navbar start------------------------*/

.main-nav{
    text-align: center;
    font-weight: 700;
    font-size: 150%;
    box-shadow: 1.5rem #888888;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    background-color: #fdcda0;
    position: relative;
}
.hm-gradient {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
.navbar .dropdown-menu a:hover {
    color: #616161 !important;
}
.darken-grey-text {
    color: #2E2E2E;
}
.navbar-custom {
    background-color: #254b62;
}
@media (max-width: 767px) {
    .navbar-toggleable-sm {
      clear:both;
    }
  }
/*-------------------------------------navbar end------------------------*/
#title1{
    text-align: center;
    text-transform: capitalize;
    font-size: 5.5rem;
}
#title2{
    text-align: left;
    text-transform: capitalize;
    font-size: 3.5rem;
    margin-bottom: 2rem;
    font-family: 'Times New Roman', Times, serif;
    
}

#title3{
  text-align: left;
  text-transform: capitalize;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  font-weight: bolder;
  color: #e3eeff;
}
.logo{
    height: 14rem;
    width: auto;
    padding-top: 3rem;
}
#Signout1{
    float: right;
    color: black;
    text-transform: initial;
    font-weight: bolder;
    padding: 0.5rem;
    position: relative;
}

.main-card{
    background-color: #9fdaf0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    width: 75%;
    margin-top: 15rem;
    padding: 5rem 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15rem;
    border-radius: 2rem;
}
.Sumit{
    margin-top: 1.2rem;
    text-transform: capitalize;
    padding: 1.5rem 2.5rem;
}
#titlee{
    padding-bottom:0.8rem;
    margin-bottom: 2rem;
}

.login-page {
    size: 5rem;
    height: 3rem;  
    width: auto;
    padding: 3.1rem 0 0;
    margin: auto;
  }
  .form {
    position: relative;
    z-index: 1;
    color: black !important;
    background: #FFFFFF;
    max-width: 460px;
    margin: 0 auto 100px;
    padding: 55px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #254b62;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .form button:hover,.form button:active,.form button:focus {
    background: #508db3;
  }
  .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
  .form .message a {
    color: #254b62;
    text-decoration: none;
  }
  .form .register-form {
    display: none;
  }
  .container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
  }
  @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
  body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
  }
  
  p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
  }
  
  a,
  a:hover,
  a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
  }
  
  .navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
  }
  
  .line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
  }
  /* ---------------------------------------------------
  SIDEBAR STYLE
----------------------------------------------------- */
  
  #sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #0b5ebd;
    color: #fff !important;
    transition: all 0.3s;
  }
  
  #sidebar.active {
    margin-left: -250px;
  }
  
  #sidebar .sidebar-header {
    padding: 20px;
    background: #0b5ebd;
  }
  
  #sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
  }
  
  #sidebar ul p {
    color: #fff;
    padding: 10px;
  }
  
  #sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color:white;
  }
  
  #sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
  }
  
  #sidebar ul li.active>a,
  a[aria-expanded="true"] {
    color: #fff;
    background: #0b5ebd;
  }
  
  a[data-toggle="collapse"] {
    position: relative;
  }
  
  a[aria-expanded="false"]::before,
  a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
  }
  
  a[aria-expanded="true"]::before {
    content: '\e260';
  }
  
  ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #0b5ebd;
  }
  
  ul.CTAs {
    padding: 20px;
  }
  
  ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  
  a.download {
    background: #fff;
    color: #7386D5;
  }
  
  a.article,
  a.article:hover {
    background: #0b5ebd !important;
    color: #fff !important;
  }
  /* ---------------------------------------------------
  CONTENT STYLE
----------------------------------------------------- */
  
  #content {
    width: calc(100% - 250px);
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
  }
  
  #content.active {
    width: 100%;
  }
  /* ---------------------------------------------------
  MEDIAQUERIES
----------------------------------------------------- */
  
  @media (max-width: 768px) {
    #sidebar {
      margin-left: -250px;
    }
    #sidebar.active {
      margin-left: 0;
    }
    #content {
      width: 100%;
    }
    #content.active {
      width: calc(100% - 250px);
    }
    #sidebarCollapse span {
      display: none;
    }
  }
/*-------------------dropdown buttons--------------------*/
/* Dropdown Button */
.dropbtn {
  background-color: #044caa;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  display: flexbox;
  width: 100%;
}
.dropbtn1{
  background-color: #108ec9;
  color: white;
  padding: 16px;
  font-size: 16px;
  height: auto;
  border: none;
  display: flexbox;
  width: 100%;

}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: flex;
  width: max-content;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #108ec9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  position: static;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #044caa;}
.dropbtn1 a:hover{background-color: #044caa;}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #044caa;}
.dropbtn1:hover .dropbtn{background-color: #044caa;}
.side1{
  font-size: larger;
  font-weight: 600;
}
.dashhh{
  width: 80%;
  margin: auto;
  padding: 1.3rem;
  margin-top: 0%;
  box-shadow: 8px 36px 48px -1px rgba(0,0,0,0.39);
-webkit-box-shadow: 8px 36px 48px -1px rgba(0,0,0,0.39);
-moz-box-shadow: 8px 36px 48px -1px rgba(0,0,0,0.39);
}
.maxw{
  max-width: 1160px;
  margin:1.2rem;
  
}
.s1{
  padding: 1.2rem;
  margin: auto;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  height: max-content;
  min-height: 210px;
}
.s2{
  /*width: 75% !important;*/ 
  margin:auto !important;
  font-size: large !important;
  padding: 1.2rem !important;
  margin-left: 1.5rem !important;
  margin-right: 1.5rem !important;
}
.btq{
  margin-top: 1.2rem;
  margin: auto;
}
.s4{
  text-transform: capitalize;
  font-size: larger;
  font-weight: 600;
  width: 90%;
}
.black{
  color: black !important; 
}
.f1{
  max-width: 1160px;
  width: 70%;
}